.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.jumbotron h1{
  font-family:"Savoye LET", "Arial Black", Gadget, sans-serif;
  font-weight: bold;
}

/* Add a gray background color and some padding to the footer */
footer {
background-color: #f2f2f2;
  padding: 25px;
}

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.affix + .container-fluid {
  padding-top: 70px;
}

/* This is needed as mentioned on http://angular-ui.github.io/bootstrap/#getting_started */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.price_current{
  color:#32e4e5;
  display: inline;
}

.price_was{
  text-decoration: line-through;
  color:#444444;
}
